<div class="container">
  <h1>Check your password strength!</h1>
  <form>
    <input
      id="password"
      [type]="passwordVisability"
      [(ngModel)]="password"
      [ngModelOptions]="{ standalone: true }"
      (input)="setPasswordStrength()"
      placeholder="Password"
    />
    <div class="bars">
      <div class="bar" [ngClass]="getClass(1)"></div>
      <div class="bar" [ngClass]="getClass(2)"></div>
      <div class="bar" [ngClass]="getClass(3)"></div>
    </div>
  </form>
</div>
