.main {
  min-height: 100lvh;
  min-width: 100%;
  background: rgb(255, 252, 0);
  background: radial-gradient(
    circle,
    rgba(255, 252, 0, 0.8) 0%,
    rgba(255, 154, 0, 0.8) 85%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
